/* .suggestion-buttons {
  margin-bottom: 20%;
} */

.img-finalpage-container {
  display: flex;
  justify-content: space-around;
}

.img-finalpage {
  width: 108px;
  height: 155px;
  margin: 0 5px;
}

.pleaserate {
  text-align: center;
  color: rgba(36, 15, 166, 0.85);
}
