.option-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.question-button {
  font-weight: 600;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  width: 280px;
  height: 45px;
  background: linear-gradient(
      180deg,
      rgba(255, 214, 186, 0.8) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #bee3db;
  color: #240fa6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.answer-button {
  width: 180px;
  height: 50px;
  background: linear-gradient(180deg, #ffd6ba 0%, rgba(255, 255, 255, 0) 100%),
    rgba(255, 214, 186, 0.8);
  border-radius: 20px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 600;
  font-size: 20px;
  color: #555b6e;
  margin-top: 8%;
}
