.slider {
  position: relative;
  height: 350px;
  width: 100%;
  margin-top: 16%;
}
.carousel-img {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  width: 190px;
  height: 280px;
  border-radius: 5px;
  box-shadow: 3px 5px 5px rgb(0, 0, 0);
  visibility: visible;
  opacity: 1;
}
.carousel-img-deactive {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}
.carousel-over {
  padding: 7px 15px;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  width: 190px;
  height: 280px;
  border-radius: 5px;
  box-shadow: 3px 5px 5px rgb(0, 0, 0);
  background-color: #bee3db;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}
.carousel-over h3 {
  text-align: center;
  margin: 10px;
}
.carousel-over p {
  text-align: center;
  margin: 20px;
}
.carousel-over-active {
  visibility: visible;
  opacity: 1;
}

.right-arrow {
  position: absolute;
  top: 135px;
  right: 0;
  z-index: 10;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 135px;
  left: 0;
  z-index: 10;
  user-select: none;
}
.slide {
  opacity: 0;
  transition-duration: 0.7s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
.add-button {
  position: absolute;
  margin-bottom: 10px;
  width: 250px;
  height: 43px;
  left: calc(50% - 250px / 2 + 0.5px);
  top: calc(50% - 43px / 2 + 250px);
  background: linear-gradient(180deg, #ffd6ba 0%, rgba(255, 255, 255, 0) 100%),
    #bee3db;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  color: #240fa6;
  /* bottom: 30px; */
}
.suggestion-footer {
  /* display: flex;
  justify-content: space-between; */
}

.give-me-more-button {
  position: absolute;
  width: 119px;
  height: 32px;
  left: 19px;
  top: 615px;
  background: linear-gradient(180deg, #bee3db 0%, rgba(255, 255, 255, 0) 100%),
    #89b0ae;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #240fa6;
  /* left: calc(50% - 250px / 2 + 0.5px);
  top: calc(50% - 43px / 2 + 250px); */
}
.to-final-button {
  position: absolute;
  width: 119px;
  height: 32px;
  left: 238px;
  top: 615px;
  background: linear-gradient(180deg, #bee3db 0%, rgba(255, 255, 255, 0) 100%),
    #89b0ae;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #240fa6;
}

@media (min-width: 700px) {
  .carousel-img {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    width: 380px;
    height: 560px;
  }
  .carousel-over {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    width: 350px;
    height: 550px;
  }
  .right-arrow {
    width: 60px;
    height: 60px;
    margin-right: 30px;
    top: 75%;
    right: 20;
    z-index: 10;
    user-select: none;
  }

  .left-arrow {
    width: 60px;
    height: 60px;
    margin-left: 30px;
    top: 75%;
    left: 20;
    z-index: 10;
    user-select: none;
  }
  .carousel-over h3 {
    font-size: 32px;
    text-align: center;
    margin: 10px;
  }
  .carousel-over p {
    font-size: 32px;
    text-align: center;
    margin: 20px;
  }
}
