.slider {
  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel-img {
  margin-top: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 100%;
  object-fit: fill;
  border-radius: 5px;
  box-shadow: 3px 5px 5px rgb(0, 0, 0);
  visibility: visible;
  opacity: 1;
}
.carousel-img-deactive {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}
.carousel-over {
  padding: 7px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 3px 5px 5px rgb(0, 0, 0);
  background-color: #bee3db;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}
.carousel-over h3 {
  text-align: center;
  margin: 10px;
}
.carousel-over p {
  text-align: center;
  margin: 20px;
}
.carousel-over-active {
  visibility: visible;
  opacity: 1;
}

.right-arrow {
  z-index: 10;
  user-select: none;
}

.left-arrow {
  width: 40px;
  height: 40px;
  z-index: 10;
  user-select: none;
}
.slide {
  opacity: 0;
  transition-duration: 0.7s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}
@media screen and (min-height: 800px) {
  .slider {
    height: 45%;
  }
}
@media screen and (min-height: 1000px) {
  .slider {
    height: 40%;
  }
}
@media screen and (min-height: 1200px) {
  .slider {
    height: 35%;
  }
}
@media screen and (min-height: 1400px) {
  .slider {
    height: 30%;
  }
}
@media screen and (min-height: 1600px) {
  .slider {
    height: 25%;
  }
}
