* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #bee3db 0%, rgba(255, 255, 255, 0) 100%),
    rgba(255, 214, 186, 0.3);
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0 2%;
  overflow: hidden;
}
.centering {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
